# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

## Solutions

Create a set with the first 10 positive integers. Print the set.

In [1]:
s = set([x for x in range(1,11)])
print(f'The set becomes:\n {s}')

The set becomes:
 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
s.add(11)
s.remove(1)
print(f'The modified set becomes:\n {s}')

The modified set becomes:
 {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [11]:
class Methods:
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def Union(self):
        return self.a.union(self.b)
    def Intersection(self):
        return self.a.intersection(self.b)
    def Difference(self):
        return self.a.difference(self.b)
    def Symmetric_Difference(self):
        return self.a.symmetric_difference(self.b)
a = set([x for x in range(1,6)])
print(f'The first set becomes:\n{a}')
b = set([x for x in range(1,11) if x % 2 == 0])
print(f'The second set becomes:\n{b}')
m1 = Methods(a,b)
print(f'The union of two sets becomes:\n {m1.Union()}')
print(f'The intersection of two sets becomes:\n {m1.Intersection()}')
print(f'The difference of two sets becomes:\n{m1.Difference()}')
print(f'The symmetric difference of two sets becomes:\n {m1.Symmetric_Difference()}')

The first set becomes:
{1, 2, 3, 4, 5}
The second set becomes:
{2, 4, 6, 8, 10}
The union of two sets becomes:
 {1, 2, 3, 4, 5, 6, 8, 10}
The intersection of two sets becomes:
 {2, 4}
The difference of two sets becomes:
{1, 3, 5}
The symmetric difference of two sets becomes:
 {1, 3, 5, 6, 8, 10}

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [10]:
s = {x**2 for x in range(1,11)}
print(f'The set becomes:\n{s}')

The set becomes:
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [12]:
numbers = {x for x in range(1,11)}
new_set = {x for x in numbers if x % 2 == 0}
print(f'The new set becomes:\n {new_set}')

The new set becomes:
 {2, 4, 6, 8, 10}

Write a program in python to remove the duplicate element from the given list and print the list with unique elements using the set method.

In [14]:
a = [1,3,2,3,4,1,5,6,2,7,3]
print(f'The set of duplicate element becomes:\n{a}')
Set = set(a)
b = list(Set)
print(f'The set of unique element becomes:\n{b}')

The set of duplicate element becomes:
[1, 3, 2, 3, 4, 1, 5, 6, 2, 7, 3]
The set of unique element becomes:
[1, 2, 3, 4, 5, 6, 7]

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [18]:
s1 = {x for x in range(1,6)}
print(f'The first set becomes:\n {s1}')
s2 = {x for x in range(1,4)}
print(f'The second set becomes:\n {s2}')
s2.issubset(s1)
print(f"Is set2 a subset of set1? {s2.issubset(s1)}")
print(f"Is set1 a superset of set2? {s1.issuperset(s2)}")

The first set becomes:
 {1, 2, 3, 4, 5}
The second set becomes:
 {1, 2, 3}
Is set2 a subset of set1? True
Is set1 a superset of set2? True

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [19]:
s = frozenset(range(1,6))
print(f'The frozenset becomes:\n {s}')

The frozenset becomes:
 frozenset({1, 2, 3, 4, 5})

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [20]:
s = {x for x in range(1,6)}
print(f'The initial set becomes:\n {s}')
a = list(s)
a.append(6)
resulting_set = set(a)
print(f'The resulting set becomes:\n {resulting_set}')

The initial set becomes:
 {1, 2, 3, 4, 5}
The resulting set becomes:
 {1, 2, 3, 4, 5, 6}

Create a dictionary with set keys and integer values. Print the dictionary.

In [21]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(f'The dictionary becomes:\n {d}')

The dictionary becomes:
 {frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

Create a set and iterate over the elements, printing each element.

In [35]:
s = {x for x in range(1,6)}
print(f'The given set becomes:\n {s}')
print(f"It's elements are:")
for x in s:
    print(x)

The given set becomes:
 {1, 2, 3, 4, 5}
It's elements are:
1
2
3
4
5

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [36]:
print(f'The given set becomes:\n {s}')
def Count_ele(s):
    count = 0
    for x in s:
        count = count + 1
    return count
while s:
    try:
        s.pop()
        print(f'The set becomes:\n {s}')
        if Count_ele(s) == 0:
            raise Exception ('There are no elements present in the set')
            break
    except Exception as error:
        print(error)

The given set becomes:
 {1, 2, 3, 4, 5}
The set becomes:
 {2, 3, 4, 5}
The set becomes:
 {3, 4, 5}
The set becomes:
 {4, 5}
The set becomes:
 {5}
The set becomes:
 set()
There are no elements present in the set

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [1]:
s1 = {x for x in range(1,6)}
print(f'The first set becomes:\n {s1}')
s2 = {x for x in range(1,11) if x % 2 == 0}
print(f'The second set becomes:\n {s2}')
s1.symmetric_difference_update(s2)
print(f'The modified set becomes:\n {s1}')

The first set becomes:
 {1, 2, 3, 4, 5}
The second set becomes:
 {2, 4, 6, 8, 10}
The modified set becomes:
 {1, 3, 5, 6, 8, 10}

Create a set and test if certain elements are present in the set. Print the results.

In [3]:
s = {x for x in range(1,11)}
print(f'The set becomes:\n {s}')
print(3 in s)
print(12 in s)

The set becomes:
 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
True
False

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [4]:
# write a program in python to create a set containing tuple having element and it's square
Set = {(x,x**2) for x in range(1,11)}
print(f'The set becomes:\n {Set}')

The set becomes:
 {(7, 49), (2, 4), (4, 16), (1, 1), (8, 64), (6, 36), (10, 100), (3, 9), (5, 25), (9, 81)}