## Here we are going to read data from different sources

## From Websites

For that we need to install some libraries like lxml,beautifulsoup4 and html5

In [2]:
!pip install lxml
!pip install beautifulsoup4

Requirement already satisfied: lxml in c:\users\subhasish harsh\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: beautifulsoup4 in c:\users\subhasish harsh\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\subhasish harsh\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [3]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ------------------------------------ 112.2/112.2 kB 592.6 kB/s eta 0:00:00
Requirement already satisfied: webencodings in c:\users\subhasish harsh\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\subhasish harsh\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

## Extract Data from an API

In [13]:
# For that we need to install one library called requests
!pip install requests

Requirement already satisfied: requests in c:\users\subhasish harsh\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\subhasish harsh\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\subhasish harsh\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\subhasish harsh\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\subhasish harsh\anaconda3\lib\site-packages (from requests) (2.0.4)

In [ ]:
# Write a program in python to extract data from the api and convert it into dataframe
import requests
from io import StringIO
def Extract_data():
    url = 'https://api.freeapi.app/api/v1/public/randomusers/user/random'
    response = requests.get(url)
    data = response.text
    df = pd.read_json(StringIO(data)).head()
    return df
Extract_data()

,statusCode,data,message,success
cell,200,(502)-437-5105,Random user fetched successfully,True
dob,200,"{'date': '1957-07-22T21:05:34.316Z', 'age': 65}",Random user fetched successfully,True
email,200,john.moore@example.com,Random user fetched successfully,True
gender,200,male,Random user fetched successfully,True
id,200,307,Random user fetched successfully,True

In [ ]:
# Now convert the dataframe into json format so we have
Extract_data().to_json()

'{"statusCode":{"cell":200,"dob":200,"email":200,"gender":200,"id":200},"data":{"cell":"(962)-995-9037","dob":{"date":"1996-12-15T20:34:43.296Z","age":26},"email":"isla.jackson@example.com","gender":"female","id":238},"message":{"cell":"Random user fetched successfully","dob":"Random user fetched successfully","email":"Random user fetched successfully","gender":"Random user fetched successfully","id":"Random user fetched successfully"},"success":{"cell":true,"dob":true,"email":true,"gender":true,"id":true}}'

In [29]:
Extract_data().to_json(orient='index')

'{"cell":{"statusCode":200,"data":"079 930 99 60","message":"Random user fetched successfully","success":true},"dob":{"statusCode":200,"data":{"date":"1965-05-01T16:18:36.686Z","age":58},"message":"Random user fetched successfully","success":true},"email":{"statusCode":200,"data":"manuel.dupuis@example.com","message":"Random user fetched successfully","success":true},"gender":{"statusCode":200,"data":"male","message":"Random user fetched successfully","success":true},"id":{"statusCode":200,"data":366,"message":"Random user fetched successfully","success":true}}'

In [30]:
Extract_data().to_json(orient='records')

'[{"statusCode":200,"data":"06-05-71-04-31","message":"Random user fetched successfully","success":true},{"statusCode":200,"data":{"date":"1963-12-24T09:02:32.013Z","age":59},"message":"Random user fetched successfully","success":true},{"statusCode":200,"data":"hadrien.gauthier@example.com","message":"Random user fetched successfully","success":true},{"statusCode":200,"data":"male","message":"Random user fetched successfully","success":true},{"statusCode":200,"data":379,"message":"Random user fetched successfully","success":true}]'

In [12]:
# Write a program in python to read data from paarticular website
import pandas as pd
def Extract(url):
    try:
        data = pd.read_html(url)
        print(f'The data becomes:')
        return data[0].head()
    except Exception as ValueError:
        print(f"It's failed to access the data because:\n {ValueError}")
        return None
url = input('Enter the url:')
# url used here: 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
Extract(url)

The data becomes:

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545

In [7]:
# Write a program in python to read a particular mobile data
url= input('Enter the url:')
try:
    print(f'The data becomes:')
    pd.read_html(url,match="Country",header=0)[0].head()
except Exception as HTTPError:
    print(f'The data is not found due to\n {HTTPError}')
finally:
    print(f'Process done')

The data becomes:
The data is not found due to
 HTTP Error 403: Forbidden
Process done

In [ ]:
# Write a program in python to read an excel file
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\subhasish harsh\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\subhasish harsh\anaconda3\lib\site-packages (from openpyxl) (1.1.0)